.card {
    width: fit-content;
    min-width: 300px;
    max-width: 800px;
    height: fit-content;
    min-height: 400px;
    max-height: 1200px;
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.card::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}

.card:hover {
    transform: translateY(7px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

@media (max-width: 768px) {
    .card {
        width: fit-content;
        max-width: 690px;
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
}
